html {
    font-family: sans-serif;

    --blazar-theme-primary: #20a4f3;
    --blazar-theme-secondary: #2ec4b6;
    --blazar-theme-background: #ffffff;
    --blazar-theme-on-primary: #ffffff;
    --blazar-theme-on-secondary: #000000;
    --blazar-theme-on-background: #000000;
    --blazar-theme-success: #4caf50;
    --blazar-theme-warning: #ff9800;
    --blazar-theme-info: #2196f3;
    --blazar-theme-error: #f44336;
    --blazar-theme-on-success: #ffffff;
    --blazar-theme-on-warning: #ffffff;
    --blazar-theme-on-info: #ffffff;
    --blazar-theme-on-error: #ffffff;
}

.blazar-app-bar {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    background-color: var(--blazar-theme-primary);
    color: var(--blazar-theme-on-primary);
    font-size: 1.5em;
}

.blazar-app-bar__icon {
    display: flex;
    justify-content: center;
}

.blazar-app-bar__icon .blazar-icon {
    cursor: pointer;
}

.blazar-app-bar__content {
    flex: 1;
}

.blazar-app-bar__headline {
    font-weight: bold;
}

.blazar-app-bar__headline-text {
}

.blazar-app-bar__subtitle {
    font-size: 0.8em;
}

.blazar-app-bar__subtitle-text {
    font-size: 1em;
    font-weight: normal;
}

.blazar-app-bar__trailer {
}

.blazar-button {
    display: inline-block;
    border-radius: 0.5em;
    background-color: var(--blazar-theme-primary);
    color: var(--blazar-theme-on-primary);
    cursor: pointer;

    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;

    user-select: none;
}

.blazar-button a, .blazar-button a:hover, .blazar-button a:active, .blazar-button a:visited {
    text-decoration: none !important;
    color: inherit !important;
}

.blazar-button:hover {
    opacity: 0.7;
}

.blazar-button.flat {
    background-color: transparent;
    color: var(--blazar-theme-primary);
}

.blazar-button.round {
    border-radius: 50%;
}

.blazar-button.disabled {
    filter: opacity(0.3);
    cursor: not-allowed !important;
    user-select: none !important;
}

.blazar-button.disabled a {
    cursor: not-allowed !important;
    user-select: none !important;
}

.blazar-button__icon {
    margin-left: auto;
    margin-right: auto;
    width: 1em;
    height: 1em;
}

.blazar-button__content {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    padding: 0.5em 0.5em;
    gap: 0.5em;
}

.blazar-checkbox.checked .blazar-checkbox__icon {
    color: var(--blazar-theme-primary);
}

.blazar-collapse {
}

.blazar-collapse__top {
    display: flex;
    flex-direction: row;
}

.blazar-collapse__summary-text {
    max-width: 40em;
    overflow-x: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blazar-collapse__label {
    font-weight: bold;
    margin-right: 1em;
}

@media print {
    .blazar-collapse.closed {
        display: none;
    }
}

.blazar-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.blazar-form__actions {
    display: flex;
    flex-direction: row;
}

.blazar-icon {
}

.blazar-icon i {
    width: 1em;
    height: 1em;
}

.blazar-input-wrapper {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.blazar-input-wrapper__label {
    font-size: 0.8em;
    font-weight: bold;
}

.blazar-input__input {
    padding: 0.5em;
    border-radius: 0.25em;
    border: 1px solid #dddddd;
}

.blazar-input__input:focus {
    outline: none;
    border-color: var(--blazar-theme-primary);
}

.blazar-input__input:hover {
    border-color: var(--blazar-theme-primary);
}

.blazar-input__input:active {
    border-color: var(--blazar-theme-primary);
}

.blazar-item {
    display: block;
    padding: 0.5em;
    cursor: pointer;
}

.blazar-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

a.blazar-item {
    text-decoration: none;
    color: inherit;
}

.blazar-item__icon {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

.blazar-item__name {
}

.blazar-multiselect {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.blazar-page {
    padding: 1em;
    background-color: var(--blazar-theme-background);
    color: var(--blazar-theme-on-background);

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.blazar-statusbar {
    display: flex;
    align-items: center;
    gap: 0.5em;

    padding: 0.6em;
    border-radius: 0.5em;

    background-color: var(--blazar-theme-info);
    color: var(--blazar-theme-on-info);
}

.blazar-statusbar.good {
    background-color: var(--blazar-theme-success);
    color: var(--blazar-theme-on-success);
}

.blazar-statusbar.bad {
    background-color: var(--blazar-theme-error);
    color: var(--blazar-theme-on-error);
}

.blazar-table {
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); /* Adds a modern elevation effect */
}

.blazar-table__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blazar-table__title {
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.1em;
}

.blazar-table__actions {
    padding: 0.5em;
}

.blazar-table__multi-row-actions {
    padding: 0.5em;
}

.blazar-table table {
    border-collapse: collapse; /* Removes space between cell borders */
    font-size: 0.9em;
    width: 100%;
}

.blazar-table table thead tr {
    background-color: var(--blazar-theme-secondary);
    color: var(--blazar-theme-on-secondary); 
    text-align: left;
}

.blazar-table table th,
.blazar-table table td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.blazar-table table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.blazar-table table tbody tr:nth-of-type(even) {
    background-color: #f7f7f7; /* Zebra-striping for easier scanning */
}

.blazar-table table tbody tr:last-of-type {
}

.blazar-table table tbody tr:hover {
    background-color: #f1f1f1; /* Visual cue when interacting with rows */
}

.blazar-table__empty-message {
    text-align: center;
    font-style: italic;
}

.blazar-table__pagination {
    padding: 0.5em;
    display: flex;
}

.blazar-table [popover] {
    margin: unset;
    position-area: block-end span-inline-end;
    position-try-fallbacks: flip-inline;
    margin: initial;
    box-shadow: 0px 0px 20px 12px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border: 0;
}

@media print {
    .blazar-no-print {
        display: none;
    }

    .blazar-form__actions {
        display: none;
    }

    .blazar-table {
        box-shadow: none;
    }

    .blazar-table__header-menu {
        display: none;
    }

    .blazar-table__actions {
        display: none;
    }

    .blazar-table__multi-row-actions {
        display: none;
    }

    .blazar-table__pagination {
        display: none;
    }

    .blazar-table table tbody td {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}
